.project
.settings

.enb/tmp
npm-debug.log

libs
node_modules

coverage.json
/coverage

/vendor
composer.lock
composer.json

*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js

/dist
/*.docs
/*.examples
/*.specs
/*.tmpl-specs
/*.tests
/*.sets

